<div ng-controller="EmployeesController" class="container-fluid">
<br>       
<div class="form-group">                
<input class="form-control" type="search" ng-model="s" placeholder="Buscar empleado"/>                
</div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in employees | filter:s track by e.name">
            <th scope="row">{{$index + 1}}</th>
            <td>{{e.name}}</td>
            <td>{{e.salary}}</td>
            </tr>
        </tbody>
    </table>        
</div>
    